<h1>Manage Your Coupons</h1>

<h2>Coupon Limit: 5</h2>


<% @coupons.each do |coupon| %>
  <section id='coupon-<%= coupon.id %>'>
    <p>Name: <%= coupon.name %></p>
    <p>Discount: <%= coupon.percent %></p>
    <%= link_to 'Edit Coupon', "/merchant/coupons/#{coupon.id}/edit" %>
    <%= link_to 'Delete Coupon', "/merchant/coupons/#{coupon.id}", method: :delete %>
  </section>
<% end %>

<% if @coupons.length < 5 %>
  <%= link_to 'Add a Coupon', '/merchant/coupons/new' %>
<% end %>
