<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th id='item'>Item</th>
    <th id='sold_by'>Sold By</th>
    <th id='price'>Price</th>
    <th id='quantity'>Quantity</th>
    <th id='subtotal'>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <p><%=quantity%></p>
          <p>
            <% if !cart.limit_reached?(item.id) %>
              <%= link_to "+", "/cart/#{item.id}/increment", method: :patch %>
            <% end %>
            <% if !cart.quantity_zero?(item.id) %>
              <%= link_to "-", "/cart/#{item.id}/decrement", method: :patch %>
            <% end %>
          </p>
          <p><%= link_to "Remove", "/cart/#{item.id}", method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>
<%= form_tag '/cart' do %>
  <%= label_tag :apply_coupon %>
  <%= text_field_tag :apply_coupon, session[:coupon].nil? ? ' ' : session[:coupon]['name']%>
  <%= submit_tag 'Apply' %>
<% end %>
  <p>Total: <%= number_to_currency(cart.total) %></p>
  <% if session[:coupon] %>
    <p>Discounted Total:  <%= number_to_currency(cart.discounted_total(session[:coupon]['id'])) %></p>
  <% end %>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <% if !current_user %>
    <h4>You must  <%= link_to 'login', '/login' %> or <%= link_to 'register', '/register' %>  to check out.</h4>
  <% else %>
    <% if current_user.addresses.empty? %>
      <p>You cannot checkout without an existing address. Click link to <%= link_to 'Add Address', "/users/#{session[:user_id]}/addresses/new" %></p>
    <% else %>
      <% if session[:coupon] %>
        <p><%= link_to 'Checkout with Existing Address', "/orders/new?address=existing&coupon=#{session[:coupon]['id']}" %></p>
      <% else %>
        <p><%= link_to 'Checkout with Existing Address', "/orders/new?address=existing" %></p>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
