<h1>Hello, <%= @user.name %>!</h1>

<% if !@user.orders.empty? %>
  <p align='center'><%= link_to 'My Orders', "/profile/orders" %></p>
<% end %>
<p align='center'><%= link_to 'My Addresses', "/users/#{@user.id}/addresses" %></p>


<% @user.addresses.each do |address| %>
  <section align='center' id="address-<%= address.id %>">
    <h2><%= link_to address.nickname, "/users/#{@user.id}/addresses/#{address.id}" %></h2>
    <p>Address: <%= address.street %></p>
    <p>City: <%= address.city %></p>
    <p>State: <%= address.state %></p>
    <p>Zip Code: <%= address.zip %></p>
  </section>
<% end %>

</br>
</br>
<p align='center'>E-mail: <%= @user.email %></p>
<p align='center'>Role: <%= @user.role.gsub('_', ' ').capitalize %></p>

</br>
<p align='center'><%= link_to 'Add an Address', "/users/#{@user.id}/addresses/new" %></p>
</br>
<p align='center'><%= link_to "Edit Profile", "/profile/#{@user.id}/edit" %></p>
</br>
<p align='center'><%= link_to "Edit Password", "/profile/#{@user.id}/edit/password" %></p>
