<h2>Order Information:</h2>
<%= form_tag path, method: method do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, current_user.name %>

  <%= label_tag :address %>
  <%= select_tag :address, options_from_collection_for_select(current_user.addresses, 'id', :get_full_address)  %>

  <%= label_tag :coupon %>
  <%= text_field_tag :coupon, session[:coupon].nil? ? ' ' : session[:coupon][:name] %>

  <%= submit_tag button %>
<% end %>
